<!DOCTYPE html>
<html>

<head>
    <meta name="pypi:repository-version" content="1.0">
    <title>Links for {{.name}}</title>
</head>

<body>
    <h1>Links for {{.name}}</h1>
    {{ range $release := .releases }}
    <a
        href="http://localhost:8080/downloads/pypi/{{.Name}}/{{$release.Version}}/{{$release.Filename}}#sha256={{$release.Sha256}}">{{$release.Filename}}</a><br />
    {{ end }}
</body>

</html>
<!-- SERIAL 12345 -->